body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff9933, #ffffff, #138808);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.flag {
    max-width: 100px;
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
    color: #002451;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    color: #012f6b;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background: #457fbf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background: #002e6a;
}

p {
    margin: 10px 0;
    color: #012f6b;
}
